[#escape x as (x)!?html]
<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8"/>
<title>${node.name}_${site.fullNameOrName}${global.customs['poweredby']}</title>
<meta name="keywords" content="${node.keywords}"/>
<meta name="description" content="${node.description}"/>
<link href="_files/global.css" rel="stylesheet"/>
<link href="_files/style.css" rel="stylesheet"/>
<link href="_files/bootstrap.min.css" rel="stylesheet"/>
<link href="_files/customer.css" rel="stylesheet"/>
[#include 'inc_js.html'/]
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
</head>
<body>
[#include 'inc_header_new.html'/]
<div class="w center mt10">
	<div style="padding:10px 5px;">您的位置:&nbsp; [#list node.hierarchy as n]<a href="${n.url}" class="a c-desc">${n.name}</a>[#if n_has_next] > [/#if][/#list]</div>

	<!--线 -->
	<div class="box1" style="border-bottom: none"></div>

	<!-- 左边 -->
	<div class="mt30 left w1" >
		<!--<table class="lxwm" width="100%" border="0" cellpadding="0" cellspacing="0" style="text-align: left">

			<tr>
				<td><img src="${ctx}/static/img/lxwm_u492.png"/></td>
				<td>
					<p>电子邮件</p>
					<p>service@cssinglewindow.com</p>
				</td>
			</tr>
			<tr>
				<td><img src="${ctx}/static/img/lxwm_u494.png"/></td>
				<td>
					<p>及时通讯</p>
					<p>QQ：2551296112</p>
				</td>
			</tr>
		</table>-->

		<div class="lxwm_item">
			<p class="lxwm_big">长沙电子口岸有限公司</p>
			<p>湖南省长沙市开福区青竹湖路29号金霞保税大厦6楼603室。</p>
			<p>邮编：410000</p>
		</div>

		<div class="lxwm_item">
			<img src="${ctx}/static/img/lxwm_u490.png" style="margin-right: 68px">
			<div class="lxwm_right_content">
				<p class="lxwm_big">客服热线</p>
				<p>0731-95198</p>
				<p>0731-89955918</p>
			</div>

		</div>

		<div class="lxwm_item">
			<img src="${ctx}/static/img/lxwm_u492.png">
			<div class="lxwm_right_content">
				<p class="lxwm_big">电子邮件</p>
				<p>service@cssinglewindow.com</p>
			</div>
		</div>

		<div class="lxwm_item">
			<img src="${ctx}/static/img/lxwm_u494.png" style="margin-right: 25px">
			<div class="lxwm_right_content">
				<p class="lxwm_big">及时通讯</p>
				<p>QQ：2551296112</p>
			</div>
		</div>

	</div>

	<!-- 右边 -->
	<div class="mt30 right w2" >
		<div  style="width:660px;height:515px;border:#ccc solid 1px; margin:3px auto 0px auto;" id="dituContent"></div>
	</div>
	<div class="clear"></div>
</div>


[#include 'inc_footer.html'/]
</body>
</html>
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap() {
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }

    //创建地图函数：
    function createMap() {
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(112.949354, 28.33149);//定义一个中心点坐标
        map.centerAndZoom(point, 17);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }

    //地图事件设置函数：
    function setMapEvent() {
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }

    //地图控件添加函数：
    function addMapControl() {
        //向地图中添加缩放控件
        var ctrl_nav = new BMap.NavigationControl({ anchor: BMAP_ANCHOR_TOP_LEFT, type: BMAP_NAVIGATION_CONTROL_LARGE });
        map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
        var ctrl_ove = new BMap.OverviewMapControl({ anchor: BMAP_ANCHOR_BOTTOM_RIGHT, isOpen: 1 });
        map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
        var ctrl_sca = new BMap.ScaleControl({ anchor: BMAP_ANCHOR_BOTTOM_LEFT });
        map.addControl(ctrl_sca);
    }

    //标注点数组
    var markerArr = [{ title: "长沙电子口岸有限公司", content: "地址：青竹湖路29号金霞电商大厦603室<br/>电话：(0731)89955918", point: "112.949139|28.331728", isOpen: 1, icon: { w: 21, h: 21, l: 0, t: 0, x: 6, lb: 5 } }
    ];
    //创建marker
    function addMarker() {
        for (var i = 0; i < markerArr.length; i++) {
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0, p1);
            var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point, { icon: iconImg });
            var iw = createInfoWindow(i);
            var label = new BMap.Label(json.title, { "offset": new BMap.Size(json.icon.lb - json.icon.x + 10, -20) });
            marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                borderColor: "#808080",
                color: "#333",
                cursor: "pointer"
            });

            (function () {
                var index = i;
                var _iw = createInfoWindow(i);
                var _marker = marker;
                _marker.addEventListener("click", function () {
                    this.openInfoWindow(_iw);
                });
                _iw.addEventListener("open", function () {
                    _marker.getLabel().hide();
                })
                _iw.addEventListener("close", function () {
                    _marker.getLabel().show();
                })
                label.addEventListener("click", function () {
                    _marker.openInfoWindow(_iw);
                })
                if (!!json.isOpen) {
                    label.hide();
                    _marker.openInfoWindow(_iw);
                }
            })()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i) {
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>" + json.content + "</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json) {
        var icon = new BMap.Icon("http://map.baidu.com/image/us_mk_icon.png", new BMap.Size(json.w, json.h), { imageOffset: new BMap.Size(-json.l, -json.t), infoWindowOffset: new BMap.Size(json.lb + 5, 1), offset: new BMap.Size(json.x, json.h) })
        return icon;
    }
    initMap();//创建和初始化地图
</script>
[/#escape]