[#escape x as (x)!?html]
<!--<div class="w center text-center c-666" style="padding:20px;line-height:30px;">
	<div class="powered">
		<span>Powered by <strong style="font-size:12px"><a href="http://www.jspxcms.com" target="_blank" class="c-666 a-hover">Jspxcms</a></strong></span>
    <span>&copy; 2010-2017 Jspxcms All Rights Reserved</span>
	</div>
	<div class="copyright">
		<span>${site.customs['company']} 版权所有</span>
		<span><a href="http://www.miibeian.gov.cn" target="_blank" class="icp c-666 a-hover">${site.customs['icp']}</a></span>
		<span><a href="${ctx}/cmscp/index.do" class="c-infoem" target="_blank">登录后台</a></span>
	</div>
</div>

<script type="text/javascript">
document.write(decodeURI("%3Cscript src='${ctx}/visit_log?url=")+encodeURIComponent(document.location.href)+decodeURI("&referrer=")+encodeURIComponent(document.referrer)+decodeURI("' type='text/javascript'%3E%3C/script%3E"));
</script>-->

<div id="div_foot" class="w mt40">
	<div id="s_code1">
		<img  src="${ctx}/static/img/20170918-code1.png" />
	</div>
	<div id="s_code2">
		<img style="width: 72px;"  src="${ctx}/static/img/wx.jpg" />
	</div>
	<div id="foot_text">
		<span class="class_text">中国(长沙)国际贸易单一窗口</span><br />
		<%--<span id="english_text">China (ChangSha) International Freight single window</span><br />--%>
		<span class="class_text">版权所有 © 长沙市商务局</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="class_text">备案：湘ICP备17007705</span><br />
		<span class="class_text">运维支持：长沙电子口岸有限公司</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="class_text">咨询热线：0731-95198/0731-89955918</span>
	</div>
</div>
[/#escape]