[#escape x as (x)!?html]
<div class="w center mt20">
	<div class="box3" style="border-right:1px solid #dbecec;">
		<div class="head b c-node fs14">政务大厅</div>
	</div>
	<ul class="corpDept">


		<li> <a href="http://www.hunanmsa.gov.cn/" target="_blank"><img src="/static/img/cs_35.gif"></a></li>

		<li> <a href="http://www.csgtax.gov.cn/csgtax/index.jsp?1454485979967" target="_blank"><img src="/static/img/cs_33.gif"></a></li>

		<li> <a href="http://www.csaic.gov.cn/" target="_blank"><img src="/static/img/cs_34.gif"></a></li>

		<li> <a href="http://www.safe.gov.cn/" target="_blank"><img src="/static/img/cs_38.gif"></a></li>

		<li> <a href="http://www.hnciq.gov.cn/" target="_blank"><img src="/static/img/cs_37.gif"></a></li>

		<li> <a href="http://changsha.customs.gov.cn/default.aspx" target="_blank"><img src="/static/img/cs_36.gif"></a></li>



	</ul>
</div>
[/#escape]