[#escape x as (x)!?html]
<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8"/>
<title>${node.name}[#if node.parent??]_${node.parent.name}[/#if]_${site.fullNameOrName}${global.customs['poweredby']}</title>
<meta name="keywords" content="${node.keywords}"/>
<meta name="description" content="${node.description}"/>
<link href="_files/global.css" rel="stylesheet"/>
<link href="_files/style.css" rel="stylesheet"/>
[#include 'inc_js.html'/]
<style>
a.ap{color:#005aa0;text-decoration:none}
a.ap:hover{color:#e4393c;}
a.ap-curr{background-color:#e4393c;color:#fff;text-decoration:none;}
a.sort{background-color:#fff;color:#333;border:1px solid #ccc;text-decoration:none;}
a.sort:hover{color:#e4393c;border:1px solid #e4393c;}
a.sort-curr{background-color:#e4393c;color:#fff;border:1px solid #e4393c;text-decoration:none}
</style>
</head>
<body>
[#include 'inc_header.html'/]
<div class="w center">
	[@InfoPage nodeId=node.id sort=sort pageSize='20' p1=Param.p1 p2=Param.p2 p3=Param.p3 p4=Param.p4 p5=Param.p5 p6=Param.p6;pagedList]
	<div class="mt20">
		<div class="fs14 c-666" style="font-size:14px;font-weight:700;line-height:36px;padding-left:10px;background-color:#f1f1f1;border-bottom:1px solid #ddd;border-top:1px solid #ddd;">
			商品筛选<span style="margin-left:20px;font-size:12px;font-weight:normal;">共 ${pagedList.totalElements} 个商品</span>
		</div>
		<div style="padding:0 0 8px 10px;border-bottom:1px solid #ddd;">
			<div class="left c-666 fs12" style="width:100px;padding-top:10px;">商品分类：</div>
			<div class="left fs12" style="width:880px;">
				[@NodeList parentId=node.parent.id;list]
				[#list list as n]
				<a href="${n.url}" class="[#if node.id==n.id]ap-curr[#else]ap[/#if]" style="[#if n_has_next]margin-right:15px;[/#if]display:inline-block;line-height:23px;padding:0 10px;margin-top:8px;">${n.name}</a>
				[/#list]
				[/@NodeList]
			</div>
			<div class="clear"></div>
		</div>
		[#list node.infoModel.queryableFields as field]
		<div style="padding:0 0 8px 10px;border-bottom:1px solid #ddd;">
			<div class="left c-666 fs12" style="width:100px;padding-top:10px;">${field.label}：</div>
			<div class="left fs12" style="width:880px;">
				<a href="${addParam(node.urlDynamic,field.name)}" class="[#if !Param[field.name]??]ap-curr[#else]ap[/#if]" style="margin-right:15px;display:inline-block;line-height:23px;padding:0 10px;margin-top:8px;">全部</a>
				[#assign options = field.options/]
				[#list options?keys as key]
				<a href="${addParam(node.urlDynamic,field.name,key)}" class="[#if Param[field.name]! == key]ap-curr[#else]ap[/#if]" style="[#if key_has_next]margin-right:15px;[/#if]display:inline-block;line-height:23px;padding:0 10px;margin-top:8px;">${options[key]}</a>
				[/#list]
			</div>
			<div class="clear"></div>
		</div>
		[/#list]
	</div>
	[#if Param.sort! == 'views']
		[#assign sort='views desc'/]
	[/#if]
	<div class="mt20" style="padding:6px 10px;background-color:#f1f1f1;border-bottom:1px solid #ddd;border-top:1px solid #ddd;">
		<a href="${addParam(node.urlDynamic,'sort')}" class="left [#if !Param.sort??]sort-curr[#else]sort[/#if]" style="line-height:23px;padding:0 10px;">更新时间</a>
		<a href="${addParam(node.urlDynamic,'sort','views')}" class="left [#if Param.sort! == 'views']sort-curr[#else]sort[/#if]" style="line-height:23px;padding:0 10px;">热门</a>
		<div class="clear"></div>
	</div>
	<div class="mt20">
		[#list pagedList.content as info]
		<div class="left mt5" style="width:184px;[#if (info_index)%5 != 0]margin-left:20px;[/#if]">
			<a href="${info.url}" target="_blank" title="${info.title}">
				<img src="${info.smallImageUrl}" width="184" height="184"/>
			</a>
			<div class="fs20 lh mt10" style="color:#C00;font-family:arial;"><span class="b fs12">￥</span>${info.customs['price']}</div>
			<div class="ff-yh fs12 mt5" style="line-height:18px;height:36px;overflow:hidden;"><a href="${info.url}" class="a" title="${info.title}" target="_blank">${info.title}</a></div>
		</div>
		[/#list]
		<div class="clear"></div>
	</div>
	<table class="center mt20"><tr><td>
		[#include 'page.html'/]
	</td></tr></table>
	[/@InfoPage]
</div>
[#include 'inc_friendlink.html'/]
[#include 'inc_footer.html'/]
</body>
</html>
[/#escape]