[#escape x as (x)!?html]
				<div class="user-box-body-item"><a href="${ctx}/my/message">我的私信</a></div>
				<div class="user-box-body-item"><a href="${ctx}/my/inbox">系统消息</a></div>
				<div class="user-box-body-item"><a href="${ctx}/my/favorite">我的收藏</a></div>
				<div class="user-box-body-item"><a href="${ctx}/my/profile">资料修改</a></div>
				<div class="user-box-body-item"><a href="${ctx}/my/avatar">头像修改</a></div>
				<div class="user-box-body-item"><a href="${ctx}/my/password">密码修改</a></div>
				<div class="user-box-body-item"><a href="${ctx}/my/email">邮箱修改</a></div>
				<div class="user-box-body-item"><a href="${ctx}/my/contribution/create">稿件发布</a></div>
				<div class="user-box-body-item"><a href="${ctx}/my/contribution">稿件列表</a></div>
[/#escape]